header{
    height: 80px;
    width: 100%;
    background-color: rgb(222, 145, 49);
    color: rgb(66, 18, 4);
    box-sizing: border-box;

    #messages{
        list-style: none;
        float: right;
        margin: 1px;
        width: 5%;
    }

    #notifications{
        list-style: none;
        float: right;
        margin: 1px;
    }

    #search{
        width: 1300px;
        box-sizing: border-box;
        align-self: center;
    }

}

.hidden{
    display: none;
}
