.example-card {
    max-width: 400px;
    // margin-bottom: 8px;
    text-align: center;
  }

  .container{
    // height: 100vh;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }